{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block header %}
    Login
{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        {% if form.errors %}
            <div class="p-2">
                <p>Your username and password didn't match. Please try again.</p>
            </div>
        {% endif %}
        <div class="p-2">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    <input type="text" name="{{ form.username.name }}" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    <input type="password" name="{{ form.password.name }}" class="form-control" required>
                </div>
                <input type="submit">
            </form>
        </div>
        <div class="p-2">
            <p>Don't have an account ? <a href={% url 'register' %}>register</a></p>
        </div>
    </div>
{% endblock %}
