{% extends "base.html" %}

{% block title %}
    Contests
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="w-75">
        <div class="row">
            <div class="col p-3 text-center">
                Theme
            </div>
            <div class="col p-3 text-center">
                Start
            </div>
            <div class="col-4 p-3 text-center">
            </div>
            <div class="col p-3 text-center">
                Participation
            </div>
            <div class="col p-3 text-center">
                Vote
            </div>
            <div class="w-100">
            </div>
            {% for contest_data in contests_data %}
                <div class="col p-3 text-center contest rounded-left-2">
                    {{ contest_data.contest.theme|upper }}
                </div>
                <div class="col p-3 text-center contest">
                    {{ contest_data.contest.opening_date }}
                </div>
                <div class="col-4 p-3 text-center contest">
                </div>

                <div class="col p-3 text-center contest">
                    {% if not contest_data.user_participated %}
                        <a href={% url 'participate' %}?contest_id={{ contest_data.contest.id }}>participate</a>
                    {% else %}
                        <a href={% url 'participate' %}?contest_id={{ contest_data.contest.id }}>modify</a>
                    {% endif %}
                </div>

                <div class="col p-3 text-center contest rounded-right-2">
                    {% if not contest_data.user_voted %}
                        <a href={% url 'vote' %}?contest_id={{ contest_data.contest.id }}>vote</a>
                    {% else %}
                        <a href={% url 'vote' %}?contest_id={{ contest_data.contest.id }}>modify</a>
                    {% endif %}
                </div>
                <div class="w-100 p-2">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
