{% extends "base.html" %}

{% block title %}
    Photo contest
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-50">
        <div class="p-2 text-center">
            {{ message }}
        </div>
        <div class="p-2 text-center">
            <a href={% url 'contests' %}>home</a>
        </div>
    </div>
{% endblock %}