{% extends "base.html" %}

{% block title %}
    Participate
{% endblock %}

{% block header %}
    {{ contest.theme }}
{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-50">
        {% if message %}
            <div class="p-2">
                {{ message }}
            </div>
        {% endif %}
        {% if participation %}
            <div class="p-2">
                <p>You already uploaded this photo</p>
                <img class="w-100" src={{ participation.photo.url }}>
            </div>
        {% endif %}

        <div class="p-2">
            {% if participation %}
                <p>Modify your upload:</p>
            {% endif %}
            <form method="post" action={% url 'photo_uploaded' %}?contest_id={{ contest.id }}
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="photo" required>
                </div>
                <input type="submit">
            </form>
        </div>

        <div class="p-2 text-center">
            <a href={% url 'contests' %}>home</a>
        </div>
    </div>
{% endblock %}