{% extends "base.html" %}

{% block title %}
    Photo uploaded
{% endblock %}

{% block header %}
    Photo uploaded
{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-50">
        <div class="p-2 text-center">
            <p>Your photo has been uploaded</p>
        </div>
        <div class="p-2 text-center">
            <a href={% url 'contests' %}>home</a>
        </div>
    </div>
{% endblock %}