{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block javascript %}
    {% render_bundle 'main' %}
{% endblock %}

{% block title %}
    Vote
{% endblock %}

{% block header %}
    Vote
{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-50">
        <div class="p-2">
            <h3>{{ contest.theme }}</h3>
        </div>

        <div class="p-2">
            <div id="carousel"></div>
        </div>

        <div class="p-2 text-center">
            <a href={% url 'contests' %}>home</a>
        </div>
    </div>

{% endblock %}
