body {
    background-color: #eeeeee;
    font-family: "Verdana", sans-serif;
}

.top-bar {
    background-color: black;
    color: white;
}

.top-bar a {
    color: white;
}

.banner {
    background-color: black;
    color: white;
}

.logo {
    color: white;
    font-size: 2.5rem;
}

.logo:hover {
    color: white;
    text-decoration: none;
}

.contest {
    background-color: #dddddd;
}

.rounded-left-2 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.rounded-right-2 {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}