{% extends "base.html" %}

{% block title %}
    Email not confirmed
{% endblock %}

{% block header %}
    Email not confirmed
{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-50">
        {% if message %}
            <div class="p-2 text-center">
                <p>{{ message }}</p>
            </div>
        {% endif %}
        <div class="p-2 text-center">
            <p>Your email has not been confirmed</p>
        </div>
        <div class="p-2 text-center">
            <a href={% url 'send_email_confirmation' %}>resend an email</a>
        </div>
        <div class="p-2 text-center">
            <a href={% url 'contests' %}>home</a>
        </div>
    </div>
{% endblock %}