{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block header %}
    Register
{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        {%  if error_message %}
            <div class="p-2">
                <p>{{ error_message }}</p>
            </div>
        {% endif %}

        <div class="p-2">
            <form action={% url 'register' %} method="POST" enctype="application/json">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username'">Username</label>
                    <input type="text" name="username" class="form-control" required autofocus>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="confirmed_password">Confirm password</label>
                    <input type="password" name="confirmed_password" class="form-control" required>
                </div>
                <input type="submit">
            </form>
        </div>
        <div class="p-2">
            <p>Already have an account ? <a href={% url 'login' %}>Login</a></p>
        </div>
    </div>
{% endblock %}