{% load static %}
{% load website_name %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <!-- css import -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- favicon -->
    <link rel="icon" type="image/ico" href="{% static 'favicon/favicon.ico' %}">

    <!-- slick carousel -->
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "photo_contest/css/base.css" %}">

    {% block css %}
    {% endblock %}
</head>

<body>
<div class="d-flex justify-content-end top-bar">
    {% if request.user.is_authenticated %}
        <div class="p-1 mr-4">
            <a href={% url 'logout' %}>Logout</a>
        </div>
    {% else %}
        <div class="p-1">
            <a href={% url 'login' %}>Login</a>
        </div>
        <div class="p-1 mr-4">
            <a href={% url 'register' %}>Register</a>
        </div>
    {% endif %}
</div>

<div class="pl-4 py-2 banner mb-2">
    <a href="{% url 'contests' %}" class="logo">{% website_name %}</a>
</div>
<div class="d-flex justify-content-center">
    <h2>
        {% block header %}
        {% endblock %}
    </h2>
</div>
<div class="d-flex justify-content-center">
    {% block content %}
    {% endblock %}
</div>

<!-- js import -->

<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- slick carousel -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>

{% block javascript %}
{% endblock %}
</body>
</html>
